.dashboard
	display: flex
	width: 100%
	flex-direction: column
	justify-content: center
	color: #282c3f

.header
	display: flex
	width: 100%
	height: 80px
	justify-content: center

.quick-menu
	display: flex
	width: 100%
	height: 340px
	background: #171a29
	flex-direction: column
	justify-content: center
	align-items: center

.pop-menu
	display: flex
	width: 100%
	height: 120px
	background: orange
	flex-direction: column
	justify-content: center

.restaurants
	display: flex
	width: 100%
	height: calc(100vh - 540px)
	background: grey
	flex-direction: column
	justify-content: center