.restaurants-container
	display: flex
	justify-content: center
	align-items: flex-start
	width: 1254px
	padding: 0px 20px

.categories
	width: 250px
	margin-right: 15px
	box-shadow: 0 2px 4px 0 rgba(48,56,97,.2)
	top: 220px
	position: -webkit-sticky
	position: sticky

.category-href
	cursor: pointer
	text-decoration: none

.category-details
	color: #53567C
	display: flex
	padding: 15px
	height: 85px
	flex-direction: column
	box-sizing: border-box
	justify-content: center
	&:hover
		background: #e46d47
		color: #fff

.category-name
	font-size: 16px
	font-weight: 600
	

.category-count
	text-transform: uppercase
	font-size: 10px
	margin-top: 2px
	

.category-restaurants
	width: calc(100% - 250px)

